html {
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 1rem;
  color: #2B2A2C;
}
body.no-scroll {
  overflow: hidden;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.header {
  padding-top: 1.2rem;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
}
.user__avatar {
  width: 57px;
  height: 57px;
}
.user__avatar img {
  border-radius: 50%;
}
.user__name {
  font-size: 1.06rem;
  color: #2B2A2C;
  font-weight: bold;
  line-height: 1.2rem;
  margin-bottom: 3px;
}
.user__content {
  padding-left: 9px;
}
.user__prof {
  font-size: 0.8rem;
  color: rgba(43, 42, 44, 0.7);
}
.nav__link {
  font-size: 0.93rem;
  color: #2B2A2C;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  text-decoration: none;
  margin-left: 2rem;
}
.nav__link::after {
  width: 0px;
  content: "";
  background-color: #2B2A2C;
  position: absolute;
  bottom: -5px;
  height: 2px;
  left: 0;
  z-index: 1;
  transition: 0.2s linear;
}
.nav__link:hover:not(.nav__link--btn)::after {
  width: 100%;
}
.nav__link--btn {
  border: 2px solid #2B2A2C;
  padding: 0.66rem 2rem;
  border-radius: 20px;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.nav__link--btn:hover {
  background-color: #2B2A2C;
  color: #ffffff;
}
.nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.intro__inner {
  padding-top: 100px;
  display: flex;
  border-bottom: 1px rgba(106, 105, 107, 0.3) solid;
  padding-bottom: 120px;
  background: url("/img/symbols.png") right top no-repeat;
  position: relative;
}
.intro__content {
  width: 50%;
}
.intro__subtitle {
  font-weight: 200;
  font-size: 2.13rem;
}
.intro__title {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 5px;
}
.intro__text {
  font-size: 1.2rem;
  color: rgba(43, 42, 44, 0.7);
  margin-bottom: 25px;
}
.intro__photo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.social {
  margin-bottom: 42px;
  display: flex;
}
.social__link {
  text-decoration: none;
  margin-right: 10px;
  transition: transform 0.2s linear;
}
.social__link:hover {
  transform: translateY(-5px);
}
.btn {
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  font-size: 1.06rem;
  text-transform: uppercase;
  color: #2B2A2C;
  border: 1px solid #6A696B;
  border-radius: 2em;
  padding: 1.05em 1.7em;
  background: 0;
  font-family: inherit;
  line-height: 1.1;
  cursor: pointer;
  min-width: 170px;
  text-align: center;
  transition: background-color 0.3s linear, color 0.2s linear, box-shadow 0.3s linear;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #2B2A2C;
  color: #ffffff;
  box-shadow: 2px 2px 10px rgba(43, 42, 44, 0.24);
}
.btn + .btn {
  margin-left: 1rem;
}
.btn--sm {
  font-weight: 700;
  font-size: 0.94rem;
  border-width: 2px;
}
.btn--thin {
  padding: 0.5rem 0;
  min-width: 9.5 rem;
}
.works {
  margin: 2.8rem 0;
}
.works__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}
.works__nav-link {
  margin: 1.3rem;
  font-size: 0.8rem;
  color: rgba(43, 42, 44, 0.7);
  text-decoration: none;
}
.works__nav-link:hover {
  text-decoration: underline;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem 2.8rem;
}
.portfolio__col {
  flex-basis: 33.3333%;
  padding: 1rem;
}
.work {
  box-shadow: 0px 0px 4px rgba(43, 42, 44, 0.25);
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.2s linear;
}
.work:hover {
  box-shadow: 0px 0px 30px rgba(43, 42, 44, 0.35);
}
.work__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.work__content {
  padding: 1rem 0.8rem;
}
.work__cat {
  font-size: 0.8rem;
  color: #2B2A2C;
  line-height: 15px;
  margin-bottom: 0.5rem;
}
.work__title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  color: #2B2A2C;
  font-size: 1.06rem;
}
.about {
  margin: 8.4rem 0;
}
.about__inner {
  display: flex;
  max-width: 1090px;
}
.about__photo,
.about__content {
  width: 50%;
}
.about__title {
  font-size: 3rem;
  font-weight: 700;
  color: #2B2A2C;
}
.about__content {
  padding-left: 3.2rem;
  padding-top: 2rem;
}
.about__bigtitle {
  font-size: 6.1333rem;
  color: rgba(43, 42, 44, 0.15);
  margin-bottom: 1.4rem;
  line-height: 1.1;
  margin-left: -1rem;
}
.about__text {
  font-size: 0.8rem;
  color: #6A696B;
  line-height: 2;
  font-weight: 300;
  margin-bottom: 2.8rem;
}
.about__photo {
  position: relative;
}
.about__photo img {
  position: relative;
  z-index: 2;
}
.about__photo::before {
  content: "";
  width: 413px;
  height: 413px;
  background-color: #EFEFEF;
  position: absolute;
  left: 1rem;
  bottom: 0;
}
.reviews {
  background: #332F30 url("../img/Symbol.png") center no-repeat;
  padding: 4.6rem 0;
  position: relative;
}
.reviews__text {
  color: #ffffff;
  font-size: 0.93rem;
  line-height: 2.2rem;
}
.reviews__item {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.reviews__photo {
  display: block;
  height: 103px;
  width: 103px;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 0.6rem;
  border: 4px solid #EFEFEF;
}
.reviews__author {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: -52px;
}
.reviews__name {
  font-size: 1.06rem;
  color: #2B2A2C;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.reviews__company {
  color: #6A696B;
  font-size: 0.94rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0.3rem;
}
.start {
  height: 14px;
  width: 16px;
}
.news {
  margin-top: 16rem;
  margin-bottom: 8rem;
}
.news__header {
  margin: 0 auto;
  text-align: center;
}
.news__title {
  font-size: 3rem;
  color: #2B2A2C;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
.news__text {
  font-size: 1.2rem;
  color: #6A696B;
  font-weight: 300;
  margin-bottom: 3.6rem;
}
.news__footer {
  text-align: right;
}
.news__link {
  font-size: 0.93rem;
  color: #6A696B;
}
.news__link:hover {
  text-decoration: none;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.articles__col {
  width: 33.3333%;
  padding: 0 1rem;
  margin-bottom: 1.1rem;
}
.articles__header {
  position: relative;
  margin-bottom: 1.35rem;
}
.articles__date {
  position: absolute;
  left: 0;
  top: 0;
  height: 77px;
  text-align: center;
  width: 77px;
  background-color: #2B2A2C;
  color: #ffffff;
  font-size: 1.03rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.articles__title {
  font-size: 1.2rem;
  color: #2B2A2C;
  font-weight: 700;
  margin-bottom: 0.4rem;
}
.articles__title a {
  text-decoration: none;
  color: inherit;
}
.articles__title a:hover {
  text-decoration: underline;
}
.articles__cat {
  font-size: 0.8rem;
  color: #2B2A2C;
  margin-bottom: 1.4rem;
}
.articles__text {
  font-size: 0.8rem;
  line-height: 1.6rem;
  color: #6A696B;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
.footer {
  background-color: #2B2A2C;
  padding: 1.35rem 0;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__nav {
  display: flex;
  align-items: center;
}
.footer__link {
  font-size: 0.93rem;
  text-decoration: none;
  color: #6A696B;
  margin-right: 1.2rem;
  transition: color 0.2s linear;
}
.footer__link:hover {
  color: #ffffff;
}
.footer__link + .btn {
  min-width: 7rem;
  padding: 0.5rem 0;
  margin-right: 0;
  transition: color 0.2s linear, background-color 0.2s linear;
}
.footer__link + .btn:hover {
  background-color: #ffffff;
  color: #6A696B;
}
.footer__credits {
  display: flex;
  color: #6A696B;
  align-items: center;
  font-size: 0.93rem;
}
.footer__copy {
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #6A696B;
}
.footer__social {
  display: flex;
  align-items: center;
}
.modal {
  display: none;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
  background-color: rgba(43, 42, 44, 0.9);
}
.modal.show {
  display: flex;
}
.modal__dialog {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  position: relative;
  transform: rotateX(90deg);
  transition: transform 0.2s linear;
}
.modal__dialog--sm {
  max-width: 900px;
}
.modal__close {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  z-index: 1;
  width: 34px;
  height: 39px;
  padding: 0;
  background: 0;
  border: 0;
  transition: transform 0.2s linear;
}
.modal__close:hover {
  transform: translateY(-3px);
}
.modal__content {
  padding: 5rem 1rem;
}
.modal__title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #2B2A2C;
  margin-bottom: 3.6rem;
}
.modal__subtitle {
  text-transform: uppercase;
  font-size: 1.06rem;
  color: #2B2A2C;
  font-weight: 400;
}
.modal-work {
  display: flex;
}
.modal-work__preview {
  width: 65%;
  background-color: #6A696B;
  position: relative;
  overflow: hidden;
}
.modal-work__content {
  width: 35%;
  padding: 3.4rem 6.6rem 1rem 1.73rem;
  position: relative;
}
.modal-work__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate3d(-50%, -50%, 0);
}
.modal-work__title {
  font-size: 2.13rem;
  font-weight: 700;
  line-height: 3rem;
  text-transform: uppercase;
}
.modal-work__info {
  font-size: 1.2rem;
  color: #6A696B;
  text-transform: uppercase;
  margin-bottom: 2.2rem;
}
.modal-work__client-title {
  font-size: 1.06 rem;
  font-weight: 700;
  color: #2B2A2C;
}
.modal-work__client-subtitle {
  color: #6A696B;
  font-size: 0.94rem;
  font-style: italic;
}
.modal-work__info-span {
  padding: 0 1rem;
}
.modal-work__client {
  margin-bottom: 2.2rem;
}
.modal-work__text {
  font-weight: 300;
  color: #6A696B;
  font-size: 0.8rem;
  line-height: 2;
  margin-bottom: 8.66rem;
}
.modal-work__footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 0 1.8rem 1rem;
}
.modal-work__btn {
  display: flex;
  font-family: inherit;
  cursor: pointer;
  font-size: 0.94rem;
  color: #2B2A2C;
  text-transform: uppercase;
  background: 0;
  border: 0;
  padding: 0;
  align-items: center;
}
.modal-work__btn img {
  margin: 0.5rem;
}
.timeline {
  margin: 4.2rem auto;
  max-width: 768px;
  display: flex;
}
.timeline__col {
  width: 50%;
}
.timeline__col--left {
  text-align: right;
  padding-right: 3.2rem;
  border-right: 1px #2B2A2C solid;
}
.timeline__col--right {
  padding-left: 3.2rem;
}
.timeline__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #2B2A2C;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  margin-bottom: 2.6rem;
}
.timeline__item {
  margin-bottom: 2.6rem;
}
.timeline__item:last-child {
  margin-bottom: 0;
}
.timeline__date {
  font-size: 0.94rem;
  text-decoration: underline;
  color: black;
  margin-bottom: 0.8rem;
}
.timeline__subtitle {
  font-weight: 700;
  font-size: 1.06rem;
  margin-bottom: 0.2rem;
}
.timeline__position {
  font-style: italic;
  font-size: 0.94rem;
  margin-bottom: 0.5rem;
  color: #2B2A2C;
  font-weight: 400;
}
.timeline__text {
  font-size: 0.8rem;
  color: #6A696B;
  font-weight: 300;
  line-height: 1.5rem;
}
.timeline-awards {
  display: flex;
}
.timeline-awards__right {
  margin-left: 1.4rem;
}
.progress-bar__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.progress-bar__right {
  padding-left: 1.2rem;
}
.progress-bar__bar {
  width: 139px;
  height: 6px;
  background-color: #efefef;
}
.progress-bar__progress {
  height: 100%;
  background-color: #6A696B;
  transition: width 0.2s linear;
}
.progress-bar__title {
  font-size: 0.94rem;
  font-weight: 300;
  min-width: 6.3rem;
}
.progress-bar {
  margin-bottom: 2.1rem;
}
.contact {
  display: flex;
}
.contact__left {
  width: 47%;
  padding: 2rem;
}
.contact__right {
  width: 53%;
  background-color: #6A696B;
  height: auto;
}
.contact__info {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 0.94rem;
  color: #2B2A2C;
  font-weight: 300;
}
.contact__info-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.contact__info-item:last-child {
  margin-bottom: 0;
}
.contact__info-icon {
  margin-right: 1rem;
}
.label {
  font-size: 0.8rem;
  color: #2B2A2C;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 0.6rem;
}
.input {
  display: block;
  width: 100%;
  border-radius: 1.8rem;
  font-family: inherit;
  padding: 1.4rem 1.8rem;
  font-weight: 400;
  line-height: 1.2;
  border: 1px solid rgba(112, 112, 112, 0.3);
}
.input:focus {
  outline: 0;
  border-color: #6A696B;
}
.form__group {
  margin-bottom: 1.8rem;
}
.form__textarea {
  outline: 0;
  resize: none;
  height: 200px;
}
.text-center {
  text-align: center;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.text-right {
  text-align: right;
}
.mb {
  margin-bottom: 0;
}
.hide {
  display: none;
}
