html {
  font-size: 15px;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 1rem;
  color: #2B2A2C;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
.header {
  padding-top: 1.2rem;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
}
.user__avatar {
  width: 57px;
  height: 57px;
}
.user__avatar img {
  border-radius: 50%;
}
.user__name {
  font-size: 1.06rem;
  color: #2B2A2C;
  font-weight: bold;
  line-height: 1.2rem;
  margin-bottom: 3px;
}
.user__content {
  padding-left: 9px;
}
.user__prof {
  font-size: 0.8rem;
  color: rgba(43, 42, 44, 0.7);
}
.nav__link {
  font-size: 0.93rem;
  color: #2B2A2C;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 0.66rem 2rem;
}
.nav__link:hover,
.nav__link.active {
  border-color: #2B2A2C;
}
.nav {
  display: flex;
  height: 100%;
}
