// compress: false


@import "vars";

html {
    font-size: 15px;
}

h1,h2,h3,h4,h5,h6  {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 1rem;
    color: @black;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

@import "blocks/_container";
@import "blocks/_header";
@import "blocks/_user";
@import "blocks/_nav";
@import "blocks/_intro";
@import "blocks/_social";
@import "blocks/_btn";
@import "blocks/_works";
@import "blocks/_portfolio";
@import "blocks/_work";
@import "blocks/_helpers";
@import "blocks/_about";