// main: ../style.less



.intro__inner {
    padding-top: 6.6rem;
    display: flex;
    border-bottom: 1px fade(@gray, 30%) solid;
    padding-bottom: 9rem;
    background: url("/img/symbols.png") right top no-repeat;
    position: relative;

    @media @tablet {
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-size: 415px auto;
       
    }
}

.intro__content {
    width: 50%;

    @media @mobile-sm {
        width: 100%;
    }
}

.intro__subtitle {
    font-weight: 200;
    font-size: 2.13rem;

    @media @tablet {

        font-size: 1.5rem;
    }
    
}

.intro__title {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 5px;
    @media @tablet {

        font-size: 2rem;
    }
}
.intro__text {
    font-size: 1.2rem;
    color: fade(@black,70%);
    margin-bottom: 25px;
}

.intro__photo {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;

    @media @tablet {
        width: 350px;
    }

    @media @mobile-sm {
        display: none;
    }
}
